<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="common.refactoring.match.repository.mybatis.MatchMapper">

    <select id="listMatchMember"
            parameterType="common.refactoring.match.dto.MatchFilter"
            resultType="common.refactoring.match.dto.MatchList">
        SELECT
            ma.member_idx AS memberIdx,
            m.name AS name,
            ROUND((COUNT(*) / 6) * 100) AS percent
        FROM
            match_answer ma
        JOIN
            `member` m ON ma.member_idx = m.member_idx
        WHERE
            <foreach item="option" index="index" collection="matchOption" open="(" close=")" separator=" OR ">
                (match_survey_idx = #{option.matchSurveyIdx} AND match_tag_idx = #{option.matchTagIdx})
            </foreach> AND ma.member_idx != #{memberIdx}
        GROUP BY
            ma.member_idx
        ORDER BY
            percent DESC
    </select>

    <select id="listMatchMemberV2" resultType="common.refactoring.match.dto.MatchListV2">
        SELECT
            ma.member_idx AS memeberIdx,
            ma.match_survey_idx AS matchSurveyIdx,
            ma.match_tag_idx AS matchTagIdx
        FROM
            match_answer ma
    </select>

</mapper>